In [ ]:
# Q1. Create one variable containing following type of data:

In [4]:
a = "test"
a

'test'

In [5]:
b = [1,"abs", 4+2j]
b

[1, 'abs', (4+2j)]

In [3]:
c = 2.5
c

2.5

In [7]:
d = ("a", "b","c")
d

('a', 'b', 'c')

In [8]:
# Q2. Given are some following variables containing data:

In [10]:
#(i) 
var1 = ' '
type(var1)

str

In [12]:
# (ii) 
var2 = '[ DS , ML , Python]'
type(var2)

str

In [13]:
# (iii) 
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [14]:
# (iv) 
var4 = 1.
type(var4)

float

In [15]:
# Q3. Explain the use of the following operators using an example:

In [16]:
# (i) /

In [19]:
5/2

2.5

In [20]:
# (ii) %

In [21]:
5%2

1

In [22]:
# (iii) //

In [23]:
5//2

2

In [24]:
# (iv) **

In [25]:
2**3

8

In [28]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

' Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [3]:
l = [1,2,3,4,5,"6a", "7b", 8.1, 9+4j, 10.5]
for i in l :
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6a <class 'str'>
7b <class 'str'>
8.1 <class 'float'>
(9+4j) <class 'complex'>
10.5 <class 'float'>

In [4]:
 """ Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [14]:
a = 10
b = 2
while a % b == 0 :
    print(a/b)
    break

In [16]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not"""

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not'

In [31]:
l = list(range(25))
for i in l:
    if l[i]%3 == 0 :
        print(str(l[i]) +"  is divisible by 3")
    else :
        print(str(l[i]) +"  is not divisible by 3")

0  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3

In [32]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.'

In [38]:
#Mutable
l = [1,2,3,4,55,6]
l[4] =5
l

[1, 2, 3, 4, 5, 6]

In [40]:
#Immutable
s = "Sanjay"
s[1]="o"
s

TypeError: 'str' object does not support item assignment